{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo-img" style="height: 32px; width: 34px;">
                <span class="logo-name" style="font-weight: 500;font-size: 22px;line-height: 24px;">OptiPack3D</span>
            </div>
            <div class="profile-dropdown">
                <img src="{% static 'images/author-photo.png' %}" alt="Profile Image" class="profile-img">
                <span class="username">{{ user.first_name }}</span>
                <div class="dropdown-content">
                    <a href="{% url 'profile' %}">Profile</a>
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <h1>Welcome {{ user.user_first_name }}</h1>
        <p>Choose your profile type to continue</p>
        <div class="profiles">
            <div class="profile-box loading-team">
                <h2><a href="#" style="text-decoration: none; color: black;">Loading team</a></h2>
                <p>Final set of loaders responsible for executing load plans</p>
            </div>
            <div class="profile-box shipping-coordinator">
                <h2>Shipping Coordinator</h2>
                <p>End-to-End management of freight</p>
            </div>
            <div class="profile-box load-planner">
                <h2>Load Planner</h2>
                <p>Set of user responsible for creating right loads to dispatch;</p>
            </div>
            <div class="profile-box leadership-team">
                <h2>Leadership team</h2>
                <p>Track key performance metrics and drive productivity agenda</p>
            </div>
        </div>
        <button class="continue-btn">Let's go!</button>
    </main>
    <script src="{% static 'js/navbar.js' %}"></script> <!-- Assuming JavaScript for dropdown functionality -->
</body>
</html>
