body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
}

.left-side, .right-side {
    padding: 40px;
}

.left-side {
    flex: 1;
    background-color: #fff;
}

.right-side {
    flex: 1;
    background-color: #f0f4f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo img {
    width: 50px; /* Adjust the size as needed */
    margin-right: 10px;
    vertical-align: middle;
}

.logo span {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    vertical-align: middle;
}

h1 {
    font-size: 24px;
    margin: 20px 0;
}

p {
    font-size: 16px;
    color: #666;
}

form {
    margin-top: 30px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: calc(100% - 40px);
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-group .toggle-password {
    position: absolute;
    /* max-width: 20px; */
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.input-group .toggle-password img {
    width: 20px;  /* Adjust the size of the icon */
    height: 20px;
}

.confirm-button {
    width: 100%;
    padding: 15px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.testimonial {
    text-align: center;
    max-width: 300px;
}

.testimonial p {
    font-size: 18px;
    font-style: italic;
    color: #333;
}

.author {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 20px;
}

.author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.author-info h4 {
    margin: 0;
    font-size: 16px;
}

.author-info p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

.rating {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.rating img {
    width: 20px;
    margin: 0 2px;
}

.dashboard-image img {
    width: 100%;
    margin-top: 20px;
}
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f7f7f7;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer p {
    color: #666;
    font-size: 14px;
}

footer a {
    color: #666;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}